fastapi==0.115.11
funasr==1.2.5
funasr_onnx==0.4.1
funasr_torch==0.1.3
gradio==5.20.1
jieba==0.42.1
kaldi_native_fbank==1.21.0
librosa==0.10.2.post1
numpy<=1.26.4
onnx==1.17.0
onnxruntime==1.21.0
openai==1.65.5
python-dotenv==1.0.1
PyYAML==6.0.2
Requests==2.32.3
torch==2.2.2
torchaudio==2.2.2
typing_extensions==4.12.2
